<div class="row">
	<div class="card offset-xl-2 col-xl-9 white large-padding sombra text-left">
		<h1 class="text-center text-success">Editar Producto</h1>
		
		<%= render 'form', product: @product %>
		
		
	</div>
</div>

<div class="container">
	<br>
	<%= link_to 'Mostrar', @product, class:'btn btn-info' %>
	<%= link_to 'Volver', products_path, class:'btn btn-dark' %>
</div>
